## Importing some essential libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

## importing dataset

In [2]:
df=pd.read_csv('loan_data_set.csv')
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
df.shape

(614, 13)

In [4]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

## taking care of missing values

In [5]:
df[['Dependents','Gender','Married','Self_Employed']]=df[['Dependents','Gender','Married','Self_Employed']].fillna(method='ffill')

In [6]:
df[['LoanAmount','Loan_Amount_Term','Credit_History']]=df[['LoanAmount','Loan_Amount_Term','Credit_History']].fillna(df[['Dependents','LoanAmount','Loan_Amount_Term','Credit_History']].mean())

In [7]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

## Encoding categorical columns using one hot encoding and label encoding

applying label encoding to gender,married,education,self_employed,property_area and loan_status

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [9]:
df.Gender=le.fit_transform(df.Gender)
df.Married=le.fit_transform(df.Married)
df.Education=le.fit_transform(df.Education)
df.Self_Employed=le.fit_transform(df.Self_Employed)
df.Property_Area=le.fit_transform(df.Property_Area)
df.Loan_Status=le.fit_transform(df.Loan_Status)
df.Dependents=le.fit_transform(df.Dependents)

In [10]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0,1
610,LP002979,1,1,3,0,0,4106,0.0,40.000000,180.0,1.0,0,1
611,LP002983,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2,1
612,LP002984,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2,1
613,LP002990,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1,0

## split our dataset into dependent nd independent variable and get our test nd train sets

In [11]:
x=df.drop(['Loan_Status','Loan_ID'],axis=1).values
y=df.Loan_Status.values

In [12]:
x

array([[  1.,   0.,   0., ..., 360.,   1.,   2.],
       [  1.,   1.,   1., ..., 360.,   1.,   0.],
       [  1.,   1.,   0., ..., 360.,   1.,   2.],
       ...,
       [  1.,   1.,   1., ..., 360.,   1.,   2.],
       [  1.,   1.,   2., ..., 360.,   1.,   2.],
       [  0.,   0.,   0., ..., 360.,   0.,   1.]])

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [14]:
x_train

array([[  1.        ,   1.        ,   1.        , ..., 360.        ,
          0.84219858,   2.        ],
       [  1.        ,   1.        ,   1.        , ..., 360.        ,
          1.        ,   2.        ],
       [  0.        ,   0.        ,   0.        , ..., 360.        ,
          1.        ,   0.        ],
       ...,
       [  1.        ,   1.        ,   1.        , ..., 360.        ,
          0.        ,   1.        ],
       [  0.        ,   0.        ,   0.        , ..., 360.        ,
          0.84219858,   0.        ],
       [  1.        ,   0.        ,   0.        , ..., 360.        ,
          1.        ,   0.        ]])

Now we do some feature selection so as to reduce the dimensionality of this dataset,

## Performming  dimensionality Reduction(feature_selection)using LDA

In [15]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
lda=LDA(n_components=1)
x_train=lda.fit_transform(x_train,y_train)
x_test=lda.transform(x_test)

In [16]:
x_train

array([[-0.11272482],
       [-0.85408856],
       [-0.12411714],
       [-0.2205691 ],
       [-0.71811918],
       [-0.5759762 ],
       [-0.6414875 ],
       [-0.37766296],
       [ 0.03085989],
       [-0.80786594],
       [-0.75500672],
       [-0.62612096],
       [-0.47059974],
       [-0.76895951],
       [-0.43572205],
       [-0.62545322],
       [-0.75760387],
       [-0.27611625],
       [-0.26110361],
       [-0.22427562],
       [ 2.93402018],
       [-0.72610508],
       [-0.05077591],
       [-0.01105611],
       [-0.09049432],
       [-0.69883855],
       [-0.6433415 ],
       [ 0.0106223 ],
       [ 0.01692396],
       [-0.4862192 ],
       [-0.70873569],
       [-0.1920119 ],
       [-0.28992789],
       [-0.21500596],
       [-0.6332145 ],
       [ 2.61568493],
       [ 3.29810301],
       [-0.27949295],
       [-0.23863895],
       [-0.56378878],
       [-0.62293821],
       [-0.40495212],
       [-0.20390257],
       [-0.87009276],
       [-0.64882163],
       [-0.52322197],
       [-0.451599  ],
       [-0.4776535 ],
       [-0.40098991],
       [ 2.4465222 ],
       [-0.08923788],
       [-0.5226956 ],
       [-0.66252182],
       [-0.38355552],
       [-0.18596277],
       [-0.65675602],
       [-0.22150138],
       [-0.78935237],
       [-0.57392466],
       [-0.9772485 ],
       [-0.76898655],
       [-0.66885062],
       [-0.34963747],
       [-0.32306978],
       [-0.8100714 ],
       [-1.03827161],
       [-0.43338035],
       [-0.68485827],
       [-1.04230226],
       [-0.67424817],
       [-1.13117476],
       [ 2.80514154],
       [-0.09250366],
       [-0.53682245],
       [-0.36955875],
       [-0.60023605],
       [-0.62756694],
       [ 2.40841261],
       [-0.70193347],
       [-0.32812136],
       [ 2.814808  ],
       [-0.94839075],
       [-0.47146817],
       [-0.66095952],
       [-0.4450762 ],
       [-0.49618353],
       [ 2.4453587 ],
       [-0.30975124],
       [-0.89802759],
       [ 2.38358132],
       [ 0.03232951],
       [-0.87491163],
       [ 0.01526776],
       [-0.34071973],
       [-1.03754493],
       [-0.96979341],
       [-0.84880774],
       [-0.74589704],
       [-0.25852728],
       [ 2.72952509],
       [-0.36951125],
       [-0.67143698],
       [-0.67130755],
       [-0.57763323],
       [ 3.15260853],
       [-0.14050343],
       [ 2.506014  ],
       [-0.49439753],
       [-0.53892306],
       [ 2.7223735 ],
       [-0.63582344],
       [-0.45442727],
       [-0.45655125],
       [-0.38857384],
       [-0.39023492],
       [-0.76280685],
       [ 3.08809444],
       [-0.765698  ],
       [-1.03973728],
       [-0.72863818],
       [-0.69015923],
       [ 0.56068333],
       [-0.75301389],
       [-0.4871661 ],
       [ 2.36909524],
       [-0.49958868],
       [-0.91629816],
       [-0.65650955],
       [-0.19718127],
       [-0.84886229],
       [-0.88395421],
       [-0.32412144],
       [ 3.04667437],
       [-0.59313243],
       [-0.75916663],
       [ 2.64922835],
       [-0.78167983],
       [-0.60164517],
       [-0.55590325],
       [-0.56840054],
       [-0.68623725],
       [ 0.06354249],
       [ 2.58582899],
       [-0.80202392],
       [-0.81215798],
       [-0.92036367],
       [ 2.78818059],
       [-0.43901467],
       [-0.80015791],
       [ 3.12254525],
       [-0.79299241],
       [-0.80088895],
       [-0.68287086],
       [ 0.30726944],
       [-0.67384298],
       [-0.56173381],
       [-0.74265905],
       [-0.99849061],
       [-0.72080485],
       [-0.92009343],
       [-0.14302606],
       [-0.43138139],
       [ 2.3504307 ],
       [-0.41489205],
       [-0.61951315],
       [-0.77299519],
       [-0.9047396 ],
       [ 2.84052259],
       [-0.54123099],
       [ 2.62009044],
       [ 2.7183784 ],
       [ 3.0548284 ],
       [ 2.5214049 ],
       [-0.32435841],
       [-0.08672873],
       [-0.41336404],
       [-0.62243346],
       [-0.51098693],
       [-0.34215626],
       [-0.58666255],
       [-0.54486511],
       [ 0.08937227],
       [-0.35455464],
       [-0.69485113],
       [ 2.94933944],
       [ 2.99454152],
       [-0.79742862],
       [-0.75193951],
       [-0.95305639],
       [-0.4722788 ],
       [ 2.96512581],
       [-0.82996106],
       [-0.67148159],
       [-0.40297666],
       [-0.87843502],
       [ 1.06112104],
       [-0.52122948],
       [-0.87946656],
       [-0.45629238],
       [-0.45125672],
       [ 3.05311413],
       [-0.8022739 ],
       [ 2.68859081],
       [-0.74323918],
       [ 2.80424037],
       [-0.66692729],
       [ 2.58698977],
       [-0.72788258],
       [ 0.00493843],
       [-0.28293925],
       [-0.28998361],
       [ 2.62128036],
       [-0.06388332],
       [ 0.10042978],
       [ 2.82793829],
       [-0.70811531],
       [-0.70158127],
       [-0.13743742],
       [-0.55671281],
       [-0.81912669],
       [-0.44982607],
       [-0.63970696],
       [ 0.01409696],
       [ 0.25334243],
       [-0.61623751],
       [-0.35160096],
       [ 2.44493743],
       [-0.09127944],
       [-1.03641574],
       [-0.72251136],
       [-0.46450373],
       [-0.22227545],
       [-0.46404336],
       [ 3.05741415],
       [-0.73210662],
       [-0.49722452],
       [ 2.41233461],
       [ 2.68635733],
       [-0.2054128 ],
       [-0.72985786],
       [-0.35301583],
       [-0.82567926],
       [-0.83888612],
       [-0.66280539],
       [-0.23867775],
       [ 2.81559156],
       [-0.73031048],
       [-0.76720867],
       [-0.21076694],
       [ 0.16793644],
       [-0.81291095],
       [-0.68566433],
       [-0.62532969],
       [-0.53144175],
       [ 2.48112356],
       [ 2.89896364],
       [-0.86221828],
       [-0.57490786],
       [-0.69437079],
       [-0.76462497],
       [-0.20655583],
       [-0.12764037],
       [-0.33286871],
       [-0.87464663],
       [-0.11044368],
       [-0.5417558 ],
       [-0.33889469],
       [ 2.7273299 ],
       [-0.26663872],
       [-0.58203771],
       [-0.65400402],
       [-0.7852509 ],
       [-0.24439321],
       [ 0.04552271],
       [-0.37877644],
       [ 2.45716566],
       [-0.75539606],
       [-0.36218896],
       [-0.60633549],
       [-0.71874274],
       [-0.94126324],
       [-0.43085842],
       [-0.2506748 ],
       [-0.61699316],
       [ 2.75297547],
       [-0.34081326],
       [-0.82068   ],
       [-0.66622726],
       [ 2.67485171],
       [-0.47654101],
       [-0.07032565],
       [ 0.30091765],
       [-1.02534264],
       [-0.21250859],
       [-0.36048006],
       [-0.7380674 ],
       [-0.54368925],
       [-0.90108894],
       [-0.40503802],
       [-0.45279933],
       [-0.39704878],
       [ 2.48025028],
       [-0.03162282],
       [-0.73099858],
       [-0.8501522 ],
       [-0.96552081],
       [-0.46119728],
       [ 2.51932927],
       [-0.17348546],
       [-0.19154771],
       [-0.59614978],
       [-0.7875831 ],
       [-0.92262787],
       [-0.41937818],
       [ 0.01540726],
       [-0.46807556],
       [-0.88797823],
       [-0.5859778 ],
       [-0.41547674],
       [-0.33614342],
       [-0.57563065],
       [-0.12042825],
       [-0.01669009],
       [ 2.70002509],
       [-0.21092189],
       [-0.15940271],
       [-0.32686573],
       [ 3.05355092],
       [-0.33644187],
       [ 2.77777216],
       [-0.58622087],
       [-0.64015796],
       [-0.02374121],
       [-0.24850221],
       [-0.7094559 ],
       [-0.64487194],
       [ 0.01099404],
       [-0.74460051],
       [-0.82549618],
       [-0.20908287],
       [ 0.10922184],
       [-0.10988876],
       [-0.58074271],
       [-0.51547555],
       [-0.56382168],
       [-0.21637015],
       [ 0.024685  ],
       [-0.41741335],
       [ 2.90893001],
       [-0.88762136],
       [-0.61435341],
       [-0.78332239],
       [-0.81442621],
       [ 3.02248293],
       [-0.61664214],
       [-0.85775676],
       [-0.4377374 ],
       [ 2.94651731],
       [-0.74497433],
       [-0.22904015],
       [-0.75785246],
       [-0.61845718],
       [-0.7935501 ],
       [-0.48720417],
       [-0.06928454],
       [-0.45024457],
       [ 2.34522728],
       [ 2.92180939],
       [-0.74867035],
       [-0.7209284 ],
       [-0.74353047],
       [-0.09599368],
       [ 2.50032594],
       [ 2.81660598],
       [ 2.43514955],
       [-0.90476225],
       [-0.49141427],
       [-0.12062804],
       [-0.10539411],
       [-0.9838428 ],
       [-0.39188012],
       [-0.60936869],
       [ 0.08448868],
       [-0.5193573 ],
       [-0.8333531 ],
       [-0.42839595],
       [-0.76478028],
       [ 2.83196688],
       [ 2.80102842],
       [-0.80461122],
       [-0.64289305],
       [ 2.86282283],
       [-0.95198982],
       [ 2.43399304],
       [-0.99623142],
       [-0.02220471],
       [-0.32452472],
       [-0.44784463],
       [-0.87562515],
       [-0.32502021],
       [-0.6230543 ],
       [-0.42337291],
       [ 0.10499175],
       [-0.56506813],
       [-0.590534  ],
       [-0.72028295],
       [-0.30849176],
       [-0.96980729],
       [-0.75153079],
       [-0.1125055 ],
       [-0.44623914],
       [-0.7646197 ],
       [ 2.80717816],
       [-0.46536173],
       [-0.63045547],
       [ 0.06346141],
       [-0.34590045],
       [ 0.13284112],
       [ 2.77044145],
       [-0.63436396],
       [ 1.74381102],
       [ 2.94055772],
       [-0.08117592],
       [-0.29977975],
       [-0.98610402],
       [-0.33878585],
       [-1.07385278],
       [-0.51921445],
       [-0.52690404],
       [-0.83087452],
       [-0.25966531],
       [-0.14209113],
       [ 2.36118617],
       [-0.43377881],
       [-0.70898452],
       [-0.92480976],
       [-0.62266561],
       [-0.47941951],
       [-0.54055456],
       [ 2.43364991],
       [-0.45289358],
       [-0.60588639],
       [ 2.93153208],
       [-1.03230335],
       [-0.44093189],
       [-0.60270517],
       [-0.55367304],
       [-0.85411604],
       [-0.86670991],
       [-0.53170732],
       [-0.60770303],
       [-0.32779208],
       [ 0.16907168],
       [-0.51795106],
       [-0.57095174],
       [-0.90370386],
       [-0.5464356 ],
       [-0.61593633],
       [-0.54455783],
       [ 2.51832397],
       [-0.08844936],
       [ 2.67598527],
       [-0.84446349],
       [-0.53300935],
       [-0.47797309],
       [-0.53929889],
       [-0.9009068 ],
       [ 3.2376162 ],
       [-0.24867379],
       [-0.64021643],
       [ 2.25297056],
       [-0.31613447],
       [-0.82272046],
       [-0.58790328],
       [-0.098671  ],
       [-0.84575087],
       [-0.63844851],
       [-0.56617813],
       [-0.46263599],
       [ 0.5364733 ],
       [ 3.28728295],
       [ 2.57460063],
       [-0.88338634],
       [-0.33987725],
       [-0.16247161],
       [-0.88143414],
       [-0.19494859],
       [-0.66355408],
       [ 2.77939929],
       [ 0.16947512],
       [-0.04451228]])

## trainning our models with these dataset using kfold validation

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [18]:
cross_val_score(LogisticRegression(),x_train,y_train,cv=5)

array([0.80808081, 0.87755102, 0.82653061, 0.78571429, 0.78571429])

In [19]:
cross_val_score(SVC(kernel='rbf'),x_train,y_train,cv=5)

array([0.80808081, 0.86734694, 0.82653061, 0.78571429, 0.78571429])

In [20]:
cross_val_score(DecisionTreeClassifier(),x_train,y_train,cv=5)

array([0.71717172, 0.7244898 , 0.74489796, 0.62244898, 0.66326531])

In [21]:
cross_val_score(RandomForestClassifier(n_estimators=100),x_train,y_train,cv=5)

array([0.71717172, 0.7244898 , 0.74489796, 0.62244898, 0.66326531])

from this you can see that LogisticRegression  is the best

# our model

In [22]:
model=SVC(kernel='rbf')
model.fit(x_train,y_train)

SVC()

## prediction

In [23]:
y_pred=model.predict(x_test)
y_pred

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1])

### model evaluation

In [24]:
from sklearn.metrics import confusion_matrix , accuracy_score
cm=confusion_matrix(y_pred,y_test)
score=accuracy_score(y_pred,y_test)
cm

array([[12,  1],
       [24, 86]], dtype=int64)

In [25]:
score

0.7967479674796748

### save model

In [26]:
import pickle
pickle.dump(model,open('Model_Classifier','wb'))

### load the model and use it for singe prediction

In [27]:
model=pickle.load(open('Model_Classifier','rb'))

In [28]:
model.predict(lda.transform([[1,0,0,0,0,5849,0.0,146.4126162,360.0,1.0,0]]))

array([1])